<h3 routerLink="../">⬆ Back to overview ⬆</h3>
<h1 style="margin-bottom: 2rem;">Coming up ⌚</h1>
<div fxLayout="column" fxLayoutGap="2rem" style="margin-bottom: 2rem;">
  <div *ngFor="let event of events | async" [ngClass]="{active: event.active}" class="item">
    <p class="mat-h2" style="margin: 0;">{{event.fields.title}}</p>
    <p class="mat-caption" style="margin-bottom: .5rem;">{{event.fields.start | date:'d LLL HH:mm'}} - {{event.fields.end | date:'d LLL HH:mm'}}</p>
    <div *ngIf="event.fields.description">
      <markdown [data]="event.fields.description"></markdown>
    </div>
  </div>
</div>
<h3 *ngIf="oldEvents.length">What we already did</h3>
<mat-list>
  <mat-list-item *ngFor="let event of oldEvents | async">
    <mat-icon matListIcon>✔</mat-icon>
    <h3 mat-line>{{event.fields.title}}</h3>
    <p mat-line>{{event.fields.start | date:'d LLL yy HH:mm'}} - {{event.fields.end | date:'d LLL yy HH:mm'}}</p>
  </mat-list-item>
</mat-list>
