
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tumi-trips-primary: mat-palette($mat-blue);
$tumi-trips-accent: mat-palette($mat-pink);

// The warn palette is optional (defaults to red).
$tumi-trips-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tumi-trips-theme: mat-light-theme($tumi-trips-primary, $tumi-trips-accent, $tumi-trips-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tumi-trips-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Global styles

a.styled {
  text-decoration: underline dashed;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: underline double;
  }
}

markdown {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  a {
    text-decoration: underline dashed;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: underline double;
    }
  }

  p:last-child{
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 600px;
  }
}
